<footer class="footer section section-sm">
    <div>
        <div id="teste_div"></div>
        <div id="API_result"></div>
        <!-- <h4 th:text="${'Nome: ' + item.nome + '\nPreço: ' + item.preco + '\nQuantidade: ' + item.quantidade}"></h4> -->
    </div>
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
                <!-- About -->
                <div class="block about">
                    <!-- footer logo -->
                    <img src="../static/images/logo-footer.png" alt="reCollect">
                    <!-- description -->
                    <p class="alt-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 offset-lg-1 col-md-3">
                <div class="block">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/about">About us</a></li>
                        <li><a href="contact-us.html">Conctact us</a></li>
                        <li><a href="/terms-conditions">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</footer>
